.label-input__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.label-input__label {
    color: #666;
    width: 150px;
    padding: 3px;
    text-align: right;
}

.label-input__value {
    width: 200px;
    padding: 3px;
    text-align: left;
}
.label-input__value--error {
    border: rgb(181, 4, 4) 10px dotted;
}


.label-input__error {
    color: rgb(181, 4, 4);
}