.tab-picker__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 8px;
    box-sizing: border-box;
}

.tab-picker__tab {
    display: flex;
    width: 100%;
    height: 75px;
    border: 1px solid #333;
    color: #666;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab-picker__tab:hover {
    background-color: rgb(255, 232, 232);
}

.tab-picker__tab--current-tab {
    background-color: rgb(231, 173, 173);
}
.tab-picker__tab--last-tab {
    background-color: green;
}