body, html {
    background-color: black;
    color: white;
}

.form-summary {
    border: 1px solid gray;
}

.form-summary__title {
    color: rgb(255, 255, 255);
}
.form-summary__content {
    background-color: rgb(31, 31, 31);
}

.form-summary .label-value__container {
    font-size: .75rem;
    padding: 0;
}