.label-value__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.label-value__label {
    color: #666;
    width: 150px;
    padding: 3px;
    text-align: right;
}

.label-value__value {
    width: 200px;
    padding: 3px;
    text-align: left;
}
